body {
	font-family: 'Press Start 2P', cursive;
	color: white;
}
#title {
	font-size: 36px;
	text-align: center;
}
#subtitle{
	font-size: 14px;
	text-align: center;
}
#startButton {
	text-align: center;
	position:absolute;
	z-index:2;
	left: 540px;
	top:400px;
}

#Logo {
	color: white;
	position:absolute;
	z-index:2;
	left: 460px;
	top:200px;
}

#background1 {
	position: absolute;
	z-index: 1;
	width: 100%;
	height:100%;
}

#cutscene1 {
	position: absolute;
	width:100%;
	height:100%;
}

#cutscene2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
}

#cutscene3 {
	position: absolute;
	top: 0px;
	left: 0px;
	width:100%;
	height:100%;
}
#cutscene4 {
	position: absolute;
	width:100%;
	height:100%;
}

#textBox1 {
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 70px;
    top: 435px;
    width: 90%;
    height: 30%;
}

#textBox2 {
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 70px;
    top: 435px;
    width: 90%;
    height: 30%;
}

#textBox3 {
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 70px;
    top: 435px;
    width: 90%;
    height: 30%;
}
#textBox4 {
	background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 70px;
    top: 435px;
    width: 90%;
    height: 30%;
}

p {
	padding: 0px 15px;
}

#secondPage, #thirdPage, #fourthPage, #fifthPage {
	visibility: hidden;
}

#credits {
	text-align: center;
	visibility: visible;
	color: white;
	background-color: black;
}

#center {
	padding: 0px;
	text-align: center;
}



/*------------Giselle's CSS Below This Line------------*/
#initHelpText {
	position: absolute;
	padding: 0px;
	font-size: 16px;
	z-index: 3;
}

#winHider {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	z-index: 2;
}

#loseHider {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	z-index: 2;
}

#theBG {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 0;
}

#demoCanvas {
	position: absolute;
	left: 0px;
	top: 20px;
}

a:link {
	color: #398E72;
}

a:visited {
	color: #8F56DA;
}

a:hover {
	color: "#398E72";
}

a:focus {
	color: "#398E72";
}

a:active {
	color: "#FF0000";
}

*/
/*------------Jeanelle's CSS Below This Line------------*/

#demoCanvas1{
	position: absolute;
	left: 0px;
	top: 20px;
}
#demoCanvas2{
	position: absolute;
	left: 0px;
	top: 20px;
	/*z-index: 1;*/
}
#demoCanvas3{
	position: absolute;
	left: 0px;
	top: 20px;
	/*z-index: 1;*/
}